user  {{ nginx.conf.user }};
worker_processes  {{ nginx.conf.worker_processes }};

error_log  {{ nginx.conf.error_log.path }} {{ nginx.conf.error_log.level }};
pid        {{ nginx.conf.pid }};

events {
    worker_connections  {{ nginx.conf.events.worker_connections }};
}

http {
    include       {{ nginx.conf.http.include }};
    default_type  {{ nginx.conf.http.default_type }};

    log_format    {{ nginx.conf.log_format }};

    access_log  {{ nginx.conf.access_log.path }} {{ nginx.conf.access_log.level }};

    sendfile       {{ nginx.conf.sendfile }};
    tcp_nopush     {{ nginx.conf.tcp_nopush }};

    keepalive_timeout  {{ nginx.conf.keepalive_timeout }};

    gzip  {{ nginx.conf.gzip }};

    include {{ nginx.conf.include }};
}
